<div class="title">
  <button class="menu-toggle-button" aria-label="Example icon-button with a menu" (click)="toggleMenu()">
    <mat-icon>more_vert</mat-icon>
  </button>
  <h3>READ LIST</h3>
</div>
<hr>
<div>

  <div class="menu" *ngIf="showMenu">
    <div *ngFor="let l of $list | async">
      <button type="button" (click)="showContent(l)">{{l.title}}</button>
    </div>
  </div>

  <div class="responsive-container">
    <iframe class="responsive-iframe"
            [src]="currentLink"
            width="100%"
            height="auto"
            allowfullscreen></iframe>
  </div>
  <div style="padding: 1rem;">
    <a [href]="currentLink" target="_blank">{{link?.address}}</a>
    <div *ngIf="link" style="text-align: end;">
      <button style="color: red" type="button" (click)="delete()">Delete</button>
      <button style="color: orange" type="button" (click)="archive()">Archive</button>
    </div>
  </div>
</div>
